:focus {
	outline: none;
}
.val-box {
	color: rgb(190, 25, 25);
}
.val-message {
	display: none;
}
.alert.error {
	border: 1px solid rgb(190, 25, 25);
	color: white;
	background: rgb(245, 172, 172);
}
